In [1]:
import numpy as np
import pandas as pd

In [3]:
# Load "data/airbnb_price.csv" as a DataFrame called prices.

prices = pd.read_csv('data/prices.csv')

# Load "data/airbnb_room_type.xlsx" as a DataFrame called xls, and the first sheet from xls as a DataFrame called room_types.

room_types = pd.read_excel('data/room_types.xlsx')

# Load "data/airbnb_last_review.tsv" as a DataFrame called reviews.

reviews = pd.read_csv('data/reviews.tsv', delimiter='\t')

In [36]:
prices.head(50)

    listing_id        price                          nbhood_full
0         2595  225 dollars                   Manhattan, Midtown
1         3831   89 dollars               Brooklyn, Clinton Hill
2         5099  200 dollars               Manhattan, Murray Hill
3         5178   79 dollars            Manhattan, Hell's Kitchen
4         5238  150 dollars                 Manhattan, Chinatown
5         5295  135 dollars           Manhattan, Upper West Side
6         5441   85 dollars            Manhattan, Hell's Kitchen
7         5803   89 dollars                Brooklyn, South Slope
8         6021   85 dollars           Manhattan, Upper West Side
9         6848  140 dollars               Brooklyn, Williamsburg
10        7097  215 dollars                Brooklyn, Fort Greene
11        7322  140 dollars                   Manhattan, Chelsea
12        7726   99 dollars              Brooklyn, Crown Heights
13        8024  130 dollars                 Brooklyn, Park Slope
14        8025   80 dollars                 Brooklyn, Park Slope
15        8110  110 dollars                 Brooklyn, Park Slope
16        8490  120 dollars         Brooklyn, Bedford-Stuyvesant
17        8505   60 dollars            Brooklyn, Windsor Terrace
18        9518   44 dollars                    Manhattan, Inwood
19        9657  180 dollars              Manhattan, East Village
20        9668   50 dollars                    Manhattan, Harlem
21        9704   52 dollars                    Manhattan, Harlem
22        9782   55 dollars                 Brooklyn, Greenpoint
23        9783   50 dollars                    Manhattan, Harlem
24       10452   70 dollars         Brooklyn, Bedford-Stuyvesant
25       10962   89 dollars                Brooklyn, South Slope
26       11708   85 dollars                   Brooklyn, Bushwick
27       12048   40 dollars           Manhattan, Lower East Side
28       12192   68 dollars              Manhattan, East Village
29       12299  120 dollars                Brooklyn, South Slope
30       12318  135 dollars           Manhattan, Upper West Side
31       12343  150 dollars                    Manhattan, Harlem
32       12627  150 dollars  Brooklyn, Prospect-Lefferts Gardens
33       12937  130 dollars             Queens, Long Island City
34       12940  110 dollars         Brooklyn, Bedford-Stuyvesant
35       13394   80 dollars                Brooklyn, Fort Greene
36       13808   80 dollars         Brooklyn, Bedford-Stuyvesant
37       14287  151 dollars           Manhattan, Upper West Side
38       14290  228 dollars               Brooklyn, Williamsburg
39       14314  144 dollars                 Brooklyn, Greenpoint
40       14322  200 dollars                  Manhattan, Kips Bay
41       14377  150 dollars               Brooklyn, Williamsburg
42       14991  110 dollars           Manhattan, Lower East Side
43       15220   69 dollars            Manhattan, Hell's Kitchen
44       15338   49 dollars                 Brooklyn, Greenpoint
45       15341  180 dollars                      Manhattan, SoHo
46       15385   80 dollars               Brooklyn, Williamsburg
47       15711  250 dollars           Manhattan, Upper East Side
48       16326  200 dollars           Brooklyn, Prospect Heights
49       16421   52 dollars            Manhattan, Hell's Kitchen

In [21]:
print(prices.shape)
print(prices.info())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
(25209, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

In [31]:
prices[prices.duplicated()==True]

Empty DataFrame
Columns: [listing_id, price, nbhood_full]
Index: []

In [37]:
room_types.head(50)

,listing_id,description,room_type
0,2595,Skylit Midtown Castle,Entire home/apt
1,3831,Cozy Entire Floor of Brownstone,Entire home/apt
2,5099,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt
3,5178,Large Furnished Room Near B'way,private room
4,5238,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt
5,5295,Beautiful 1br on Upper West Side,Entire home/apt
6,5441,Central Manhattan/near Broadway,Private room
7,5803,"Lovely Room 1, Garden, Best Area, Legal rental",Private room
8,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,Private room
9,6848,Only 2 stops to Manhattan studio,entire home/apt
10,7097,Perfect for Your Parents + Garden,Entire home/apt
11,7322,Chelsea Perfect,Private room
12,7726,Hip Historic Brownstone Apartment with Backyard,Entire home/apt
13,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,PRIVATE ROOM
14,8025,CBG Helps Haiti Room#2.5,PRIVATE ROOM
15,8110,CBG Helps Haiti Rm #2,Private room
16,8490,"MAISON DES SIRENES1,bohemian apartment",Entire home/apt
17,8505,Sunny Bedroom Across Prospect Park,Private room
18,9518,"SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM",PRIVATE ROOM
19,9657,Modern 1 BR / NYC / EAST VILLAGE,entire home/apt
20,9668,front room/double bed,PRIVATE ROOM
21,9704,Spacious 1 bedroom in luxe building,Private room
22,9782,Loft in Williamsburg Area w/ Roof,Private room
23,9783,back room/bunk beds,Private room
24,10452,Large B&B Style rooms,Private room
25,10962,"Lovely room 2 & garden; Best area, Legal rental",Private room
26,11708,Cute apt in artist's home,Entire home/apt
27,12048,LowerEastSide apt share shortterm 1,shared room
28,12192,ENJOY Downtown NYC!,PRIVATE ROOM
29,12299,Beautiful Sunny Park Slope Brooklyn,Entire home/apt
30,12318,West Side Retreat,Private room
31,12343,BEST BET IN HARLEM,Entire home/apt
32,12627,Entire apartment in central Brooklyn neighborh...,Entire home/apt
33,12937,"1 Stop fr. Manhattan! Private Suite,Landmark B...",private room
34,12940,Charming Brownstone 3 - Near PRATT,Entire home/apt
35,13394,Fort Greene brownstone,Private room
36,13808,Blue Room for 2 in Brownstone for $1350 monthly,Private room
37,14287,Cozy 1BD on Central Park West in New York City,Entire home/apt
38,14290,* ORIGINAL BROOKLYN LOFT *,entire home/apt
39,14314,Greenpoint Place...Has It All!,ENTIRE HOME/APT
40,14322,Beautiful Apartment in Manhattan!!!,Entire home/apt
41,14377,Williamsburg 1 bedroom Apartment,Entire home/apt
42,14991,"Great Location, Manhattan Bedroom!",PRIVATE ROOM
43,15220,Best Location in NYC! TIMES SQUARE!,private room
44,15338,Room in Greenpoint Loft w/ Roof,Private room
45,15341,**Bright Nolita Apt w Doorman/Elevators/Gym**,Entire home/apt
46,15385,"Very, very cozy place",Private room
47,15711,2 bedroom - Upper East Side-great for kids,ENTIRE HOME/APT
48,16326,Comfortable 4-bedroom apt in family house.,Entire home/apt
49,16421,Your Heaven in Hells Kitchen,Private room

In [23]:
print(room_types.shape)
print(room_types.info())

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
(25209, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

In [32]:
room_types[room_types.duplicated()==True]

Empty DataFrame
Columns: [listing_id, description, room_type]
Index: []

In [35]:
reviews.head(50)

    listing_id         host_name      last_review
0         2595          Jennifer      May 21 2019
1         3831       LisaRoxanne     July 05 2019
2         5099             Chris     June 22 2019
3         5178          Shunichi     June 24 2019
4         5238               Ben     June 09 2019
5         5295              Lena     June 22 2019
6         5441              Kate     June 23 2019
7         5803            Laurie     June 24 2019
8         6021           Claudio     July 05 2019
9         6848     Allen & Irina     June 29 2019
10        7097              Jane     June 28 2019
11        7322              Doti     July 01 2019
12        7726  Adam And Charity     June 22 2019
13        8024             Lisel     July 01 2019
14        8025             Lisel  January 01 2019
15        8110             Lisel     July 02 2019
16        8490          Nathalie     June 19 2019
17        8505           Gregory     June 23 2019
18        9518              Shon     June 15 2019
19        9657              Dana    April 19 2019
20        9668   Ssameer Or Trip     June 01 2019
21        9704              Teri     June 14 2019
22        9782            Andrea     June 15 2019
23        9783   Ssameer Or Trip     July 01 2019
24       10452            Angela      May 12 2019
25       10962            Laurie     June 21 2019
26       11708            Tyrome     June 22 2019
27       12048               Ben     July 05 2019
28       12192            Edward     June 21 2019
29       12299             Abdul      May 27 2019
30       12318               Cyn     June 16 2019
31       12343              Earl     June 13 2019
32       12627              Rana     June 05 2019
33       12937           Orestes     July 01 2019
34       12940          Adreinne      May 25 2019
35       13394         Alexander     June 17 2019
36       13808    JT And Tiziana     June 16 2019
37       14287              Joya     July 07 2019
38       14290             James      May 17 2019
39       14314            Jeanne     June 29 2019
40       14322         Francesca    March 25 2019
41       14377            Joanna     June 22 2019
42       14991            Bianca      May 18 2019
43       15220              Luiz     June 09 2019
44       15338            Andrea     June 04 2019
45       15341               Ted     June 29 2019
46       15385          Cristina     June 30 2019
47       15711                 D    March 30 2019
48       16326           Dimitri  January 26 2019
49       16421              Mark      May 16 2019

In [25]:
print(reviews.shape)  
print(reviews.info())

(25209, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

In [33]:
reviews[reviews.duplicated()==True]

Empty DataFrame
Columns: [listing_id, host_name, last_review]
Index: []

In [ ]:
# Listing ID should be a string



# incorrect date format in reviews['last_review']

# prices['price'] should be an int, remove 'dollars'



# missing values from reviews['host_name']
# reviews['host_name'] incorrect formatting, contains some 'and', 'or', lack of spaces between name and surname.
# missing values from room_type['description']
# prices['price'] remove outliers
# new column prices['price_per_month']
# prices['nbhood_full'] can be abreviated
# geographical coordinates missing. 
# room_type['room_type'] should be standard descriptions.

In [38]:
# incorrect date format in reviews['last_review']

reviews['last_review'] = pd.to_datetime(reviews['last_review'])
reviews.head()

   listing_id    host_name last_review
0        2595     Jennifer  2019-05-21
1        3831  LisaRoxanne  2019-07-05
2        5099        Chris  2019-06-22
3        5178     Shunichi  2019-06-24
4        5238          Ben  2019-06-09