# SQL Data Exploration

For the purpose of keeping the SQL portion of this project available in our notebooks, we'll create an SQLite connection.

Our team at Pillow Palooza has exported the clean and preprocessed data and created a schema for us to use in our analysis. We have also included extra columns (from public data sources) to enhance the analysis.

After meeting with your team, you wrote some questions to guide you along the analysis:
1. What are the most popular neighborhoods for short-term rentals in New York City?
2. What is the average rental price for short-term rentals in New York City, and how does it vary by neighborhood and property type?
3. What are the most commonly rented property types on Airbnb in New York City, and how does this vary by neighborhood?
4. What is the average length of stay for short-term rentals in New York City, and how does this vary by neighborhood and property type?
5. How has demand for short-term rentals in New York City changed over time, and are there any seasonal trends that could impact business decisions?

In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
# create the SQLite connection

cnn = sql.connect('palooza.db')

In [3]:
# import the enriched data

prices = pd.read_csv('data_enriched/query_prices.csv')
room_types = pd.read_csv('data_enriched/query_room_types.csv')
reviews = pd.read_csv('data_enriched/query_reviews.csv')

In [4]:
# Save the data to SQLite

prices.to_sql('prices', cnn)
room_types.to_sql('room_types', cnn)
reviews.to_sql('reviews', cnn)

ValueError: Table 'prices' already exists.